
.football{
    margin-top: 2rem;
    /* height: 600px; */
    margin-bottom: 4rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url('../../assets/images/Football/stadium.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    position: relative;
    padding: 4rem;
}
.football::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(2px); 
}