@font-face {
  font-family: "dana-medium";
  src: url("../../assets/fonts/Dana/woff2/DanaFaNum-Medium.woff2");
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.navbar__info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* * Navbar Search Input  */

.navbar__search {
  position: relative;
}

.navbar__search-input {
  width: 399px;
  height: 48px;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: var(--gray);
  padding-right: 1rem;
}

.navbar__search-icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  left: 2.2rem;
  top: 0.8rem;
  cursor: pointer;
}

.navbar__info__admin-image {
  width: 48px;
  height: 48px;
  border-radius: 0.5rem;
}
.navbar__info__admin {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar__info__admin__name {
  display: flex;
  align-items: center;
  font-family: "dana-bold", Courier, monospace;
}

.navbar__info__saved {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: var(--gray);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.navbar__info__saved-icon {
  width: 30px;
  height: 30px;
}

/* * Navabrmenu */
.navbar__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar__menu-item {
  transition: all 120ms ease-in;
  padding: 0.5rem;
  border-radius: 0.5rem;
  height: 100%;
}

.navbar__menu-item:hover {
  background-color: var(--primaryColor);
}
.navbar__menu-item:hover .navbar__menu-link {
  color: var(--whiteColor);
}

.navbar__menu-link {
  font-family: "dana-medium", Courier, monospace;
  color: var(--darkColor);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar__logo {
  font-size: 1.4rem;
  color: var(--primaryColor);
}

/* * SubMenu Styles */

.submenu-hover {
  position: relative;
}
.submenu-hover:hover .submenu {
  visibility: visible;
  opacity: 100%;
}
.navbar__menu-link-icon {
  transition: all 120ms ease-in;
}
.submenu-hover:hover .navbar__menu-link-icon {
  transform: rotate(180deg);
}

.submenu {
  width: 12rem;
  position: absolute;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  top: 2.5rem;
  right: -0.1rem;
  border-right: 2px solid var(--primaryColor-50);
  border-left: 2px solid var(--primaryColor-50);
  visibility: hidden;
  opacity: 0;
  transition: all 120ms ease-in;
  box-shadow: var(--primaryColor) 0px 5px, var(--primaryColor-10) 0px 10px,
    var(--primaryColor-5) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
    background-color: var(--whiteColor);
    z-index: 10000;

}

.submenu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.submenu__item {
  text-align: center;
  width: 10rem;
  border-radius: 0.5rem;
  transition: all 120ms ease-in;
}
.submenu__item:hover {
  background-color: var(--primaryColor);
}
.submenu__item:hover .submenu__link {
  color: var(--whiteColor);
}

.submenu__link {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 1rem;
  color: var(--darkColor);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.submneu__icon {
  width: 2rem;
  height: 2rem;
}

.mobile-menu-btn-icon {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  display: none;
  color: var(--darkColor);
}

.mobile-menu-btn {
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

/* ! Mobile Menu */
.mobile-menu {
  height: 100vh;
  background-color: var(--primaryColor);
  width: 14rem;
  position: fixed;
  padding: 1rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-top-left-radius: 0.5rem;
  display: none;
  top: 0;
  transition: all 120ms ease-in;
  z-index: 1000;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.mobile-menu__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu__logo-link {
  color: var(--whiteColor);
  font-size: 1.4rem;
}

.mobile-menu__logo__close-btn {
  background-color: var(--gray);
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.mobile-menu__logo__close-btn-icon {
  width: 2rem;
  height: 2rem;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}
.mobile-menu__item {
  transition: all 120ms ease-in;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.mobile-menu__item-icon {
  width: 2rem;
  height: 2rem;
  color: var(--darkColor);
}

.mobile-menu__item:hover {
  background-color: var(--gray);
}

.mobile-menu__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--darkColor);
  font-size: 1.2rem;
}

/* ! Mobile SubMenu */
.mobile-menu__submenu,
.mobile-menu__submenu2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  display: none;
  background-color: var(--whiteColor);
  /* background-color: blue; */
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.mobile-menu__submenu__item,
.mobile-menu__submenu2__item {
  width: 100%;
  text-align: center;
  padding: 1rem;
  transition: all 120ms ease-in;
}

.mobile-menu__submenu__item:hover,
.mobile-menu__submenu2__item:hover {
  background-color: var(--primaryColor-50);
}
.mobile-menu__submenu__item:hover .mobile-menu__submenu__link,
.mobile-menu__submenu2__item:hover .mobile-menu__submenu2__link {
  color: var(--whiteColor);
}

.mobile-menu__submenu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.mobile-menu__submenu__link و.mobile-menu__submenu2__link {
  color: var(--darkColor);
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ! Media Queries */

@media screen and (max-width: 1200px) {
  .navbar__menu {
    display: none;
  }
  .mobile-menu-btn-icon {
    display: block;
  }
  .navbar__search-input {
    margin: 1rem auto;
    display: block;
    width: 80%;
  }
  .navbar__search {
    order: 1;
    flex-basis: 100%;
  }
  .navbar__logo {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 520px) {
  .navbar__logo,
  .navbar__info {
    display: none;
  }
  .navbar {
    flex-wrap: nowrap;
  }
  .navbar__search {
    display: flex;
  }

  .navbar__search-icon {
    left: 3.2rem;
    top: 1.4rem;
  }
}
